<!DOCTYPE html>
<html>
<head>
	<title>Seleccion Pareja</title>
</head>
<body>
	<form action="/imagen1">
		<input type="submit" name="Imagen 1" value="Imagen 1">
		<h1><%= @imagen1%></h1>
	</form>
	<form action="/imagen2">
		<input type="submit" name="Imagen 2" value="Imagen 2">
		<h1><%= @imagen2%></h1>
	</form>
	<form action="/imagen3">
		<input type="submit" name="Imagen 3" value="Imagen 3">
		<h1><%= @imagen3%></h1>
	</form>
	<form action="/imagen4">
		<input type="submit" name="Imagen 4" value="Imagen 4">
		<h1><%= @imagen4%></h1>
	</form>
</body>
</html>